<title>{{TITLE}}</title>
<meta name="description" content="{{DESCRIPTION}}" />
<link rel="canonical" href="{{CANONICAL}}" />
<meta property="og:title" content="{{TITLE}}" />
<meta property="og:description" content="{{DESCRIPTION}}" />
<meta
  property="og:image"
  content="../../assets/brand/franciele-sofiati-17-balcony-orange-laughing-transparent.webp"
/>
<meta name="theme-color" content="#485041" />
<link
  rel="icon"
  href="../../assets/brand/sofiati-favicon.svg"
  type="image/svg+xml"
/>
<link
  rel="apple-touch-icon"
  href="../../assets/brand/sofiati-monogram-sage.png"
/>
